<!-- src/app/features/todo/pages/todo-page.component.html -->

<div class="flex flex-col justify-center gap-12 w-full">
  <!-- Filtros -->
  <p-card>
    <section class="p-4">
      <h2 class="text-xl font-semibold mb-4">Filtrar Tareas</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4">
        <input
          type="text"
          pInputText
          placeholder="Título"
          [(ngModel)]="filters.title"
          (ngModelChange)="applyFilters()"
        />
        <input
          type="text"
          pInputText
          placeholder="Categoría"
          [(ngModel)]="filters.category"
          (ngModelChange)="applyFilters()"
        />
        <p-calendar
          [(ngModel)]="filters.createdAt"
          (ngModelChange)="applyFilters()"
          placeholder="Fecha de creación"
          dateFormat="yy-mm-dd"
          showIcon
          appendTo="body"
        />
        <p-calendar
          [(ngModel)]="filters.startDate"
          (ngModelChange)="applyFilters()"
          placeholder="Fecha de inicio"
          dateFormat="yy-mm-dd"
          showIcon
          appendTo="body"
        />
        <p-dropdown
          [options]="statusOptions"
          [(ngModel)]="filters.statusId"
          optionLabel="label"
          optionValue="value"
          appendTo="body"
          class="w-full"
          (ngModelChange)="applyFilters()"
        />
      </div>
    </section>
  </p-card>

  <div class="flex justify-end w-full gap-2">
  <!-- Botón Crear Tarea -->
  <p-button label="Crear Tarea" icon="pi pi-plus" [raised]="true" (onClick)="showCreateModal = true"></p-button>

  <!-- Botón borrar Tareas -->
  <p-button label="Eliminar Todas" severity="danger"  icon="pi pi-trash" [raised]="true"
    (onClick)="confirmDeleteAll()"></p-button>
</div>


  <!-- Tabla de Tareas -->
  <p-card>
    <section class="p-4">
      <h2 class="text-xl font-semibold mb-4">Lista de Tareas</h2>

      <p-table
        [value]="filteredTasks"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]"
        class="p-12"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>
              Título <i class="pi pi-pencil ml-1 text-xs text-gray-400"></i>
            </th>
            <th>
              Descripción
              <i class="pi pi-pencil ml-1 text-xs text-gray-400"></i>
            </th>
            <th>
              Categoría <i class="pi pi-pencil ml-1 text-xs text-gray-400"></i>
            </th>
            <th>
              Estado <i class="pi pi-pencil ml-1 text-xs text-gray-400"></i>
            </th>
            <th>Fecha de Creación</th>
            <th>
              Fecha de Inicio
              <i class="pi pi-pencil ml-1 text-xs text-gray-400"></i>
            </th>
            <th>
              Fecha Estimada
              <i class="pi pi-pencil ml-1 text-xs text-gray-400"></i>
            </th>
            <th>
              Fecha Finalización
              <i class="pi pi-pencil ml-1 text-xs text-gray-400"></i>
            </th>
            <th>Acciones</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-task>
          <tr>
            <!-- Título -->
            <td
              (click)="
                !isEditing(task.id, 'title') && startEditing(task.id, 'title')
              "
            >
              <ng-container
                *ngIf="isEditing(task.id, 'title'); else titleDisplay"
              >
                <input
                  pInputText
                  [(ngModel)]="task.title"
                  class="w-full"
                  (click)="$event.stopPropagation()"
                />
                <div class="flex gap-1 mt-1">
                  <button
                    pButton
                    icon="pi pi-check"
                    class="p-button-sm p-button-success"
                    (click)="saveEdit(task, 'title'); $event.stopPropagation()"
                  ></button>
                  <button
                    pButton
                    icon="pi pi-times"
                    class="p-button-sm p-button-danger"
                    (click)="
                      cancelEdit(task.id, 'title'); $event.stopPropagation()
                    "
                  ></button>
                </div>
              </ng-container>
              <ng-template #titleDisplay>
                <span>{{ task.title }}</span>
              </ng-template>
            </td>

            <!-- Descripción -->
            <td
              (click)="
                !isEditing(task.id, 'description') &&
                  startEditing(task.id, 'description')
              "
              style="cursor: pointer"
            >
              <ng-container
                *ngIf="isEditing(task.id, 'description'); else descDisplay"
              >
                <input
                  pInputText
                  [(ngModel)]="task.description"
                  class="w-full"
                  (click)="$event.stopPropagation()"
                />
                <div class="flex gap-1 mt-1">
                  <button
                    pButton
                    icon="pi pi-check"
                    class="p-button-sm p-button-success"
                    (click)="
                      saveEdit(task, 'description'); $event.stopPropagation()
                    "
                  ></button>
                  <button
                    pButton
                    icon="pi pi-times"
                    class="p-button-sm p-button-danger"
                    (click)="
                      cancelEdit(task.id, 'description');
                      $event.stopPropagation()
                    "
                  ></button>
                </div>
              </ng-container>
              <ng-template #descDisplay>
                <span>{{ task.description }}</span>
              </ng-template>
            </td>

            <!-- Categoría -->
            <td
              (click)="
                !isEditing(task.id, 'category') &&
                  startEditing(task.id, 'category')
              "
              style="cursor: pointer"
            >
              <ng-container
                *ngIf="isEditing(task.id, 'category'); else categoryDisplay"
              >
                <input
                  pInputText
                  [(ngModel)]="task.category"
                  class="w-full"
                  (click)="$event.stopPropagation()"
                />
                <div class="flex gap-1 mt-1">
                  <button
                    pButton
                    icon="pi pi-check"
                    class="p-button-sm p-button-success"
                    (click)="
                      saveEdit(task, 'category'); $event.stopPropagation()
                    "
                  ></button>
                  <button
                    pButton
                    icon="pi pi-times"
                    class="p-button-sm p-button-danger"
                    (click)="
                      cancelEdit(task.id, 'category'); $event.stopPropagation()
                    "
                  ></button>
                </div>
              </ng-container>
              <ng-template #categoryDisplay>
                <span>{{ task.category }}</span>
              </ng-template>
            </td>

            <!-- Estado -->
            <td>
              <p-dropdown
                [options]="editableStatusOptions"
                [(ngModel)]="task.statusId"
                optionLabel="label"
                optionValue="value"
                appendTo="body"
                [ngClass]="{
                  'bg-gray-200': task.statusId === 1,
                  'bg-yellow-100': task.statusId === 2,
                  'bg-green-100': task.statusId === 3,
                  'bg-red-100': task.statusId === 4
                }"
                class="w-full"
                (onChange)="onStatusChange(task)"
              />
            </td>

            <!-- Fechas -->
            <td>
              <i class="pi pi-calendar mr-1 text-gray-400"></i>
              {{ task.createdAt }}
            </td>

            <td
              (click)="
                !isEditing(task.id, 'startDate') &&
                  startEditing(task.id, 'startDate')
              "
            >
              <ng-container
                *ngIf="isEditing(task.id, 'startDate'); else startDisplay"
              >
                <p-calendar
                  [(ngModel)]="task.startDate"
                  dateFormat="yy-mm-dd"
                  showIcon
                  (click)="$event.stopPropagation()"
                  appendTo="body"
                ></p-calendar>
                <div class="flex gap-1 mt-1">
                  <button
                    pButton
                    icon="pi pi-check"
                    class="p-button-sm p-button-success"
                    (click)="
                      saveEdit(task, 'startDate'); $event.stopPropagation()
                    "
                  ></button>
                  <button
                    pButton
                    icon="pi pi-times"
                    class="p-button-sm p-button-danger"
                    (click)="
                      cancelEdit(task.id, 'startDate'); $event.stopPropagation()
                    "
                  ></button>
                </div>
              </ng-container>
              <ng-template #startDisplay>
                <i class="pi pi-calendar mr-1 text-gray-400"></i>
                <span>{{ task.startDate }}</span>
              </ng-template>
            </td>

            <td
              (click)="
                !isEditing(task.id, 'estimatedEndDate') &&
                  startEditing(task.id, 'estimatedEndDate')
              "
            >
              <ng-container
                *ngIf="
                  isEditing(task.id, 'estimatedEndDate');
                  else estimatedDisplay
                "
              >
                <p-calendar
                  [(ngModel)]="task.estimatedEndDate"
                  dateFormat="yy-mm-dd"
                  showIcon
                  (click)="$event.stopPropagation()"
                  appendTo="body"
                ></p-calendar>
                <div class="flex gap-1 mt-1">
                  <button
                    pButton
                    icon="pi pi-check"
                    class="p-button-sm p-button-success"
                    (click)="
                      saveEdit(task, 'estimatedEndDate');
                      $event.stopPropagation()
                    "
                  ></button>
                  <button
                    pButton
                    icon="pi pi-times"
                    class="p-button-sm p-button-danger"
                    (click)="
                      cancelEdit(task.id, 'estimatedEndDate');
                      $event.stopPropagation()
                    "
                  ></button>
                </div>
              </ng-container>
              <ng-template #estimatedDisplay>
                <i class="pi pi-calendar mr-1 text-gray-400"></i>
                <span>{{ task.estimatedEndDate }}</span>
              </ng-template>
            </td>

            <td
              (click)="
                !isEditing(task.id, 'realEndDate') &&
                  startEditing(task.id, 'realEndDate')
              "
            >
              <ng-container
                *ngIf="isEditing(task.id, 'realEndDate'); else realDisplay"
              >
                <p-calendar
                  [(ngModel)]="task.realEndDate"
                  dateFormat="yy-mm-dd"
                  showIcon
                  (click)="$event.stopPropagation()"
                  appendTo="body"
                ></p-calendar>
                <div class="flex gap-1 mt-1">
                  <button
                    pButton
                    icon="pi pi-check"
                    class="p-button-sm p-button-success"
                    (click)="
                      saveEdit(task, 'realEndDate'); $event.stopPropagation()
                    "
                  ></button>
                  <button
                    pButton
                    icon="pi pi-times"
                    class="p-button-sm p-button-danger"
                    (click)="
                      cancelEdit(task.id, 'realEndDate');
                      $event.stopPropagation()
                    "
                  ></button>
                </div>
              </ng-container>
              <ng-template #realDisplay>
                <i class="pi pi-calendar mr-1 text-gray-400"></i>
                <span>{{ task.realEndDate }}</span>
              </ng-template>
            </td>

            <!-- Acciones -->
            <td>
              <button
                pButton
                icon="pi pi-eye"
                class="p-button-sm p-button-text"
                (click)="watchTask(task)"
                clas
              ></button>
              <button
                pButton
                icon="pi pi-pencil"
                class="p-button-sm p-button-text text-blue-500"
                (click)="editTask(task)"
              ></button>
              <button
                pButton
                icon="pi pi-trash"
                class="p-button-sm p-button-text text-red-500"
                (click)="deleteTask(task.id)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </section>
  </p-card>

  <!-- Modal Crear -->
  <task-create-modal
    [(visible)]="showCreateModal"
    [taskToEdit]="selectedTask"
    (visibleChange)="onCreateModalClosed()"
    (taskCreated)="onTaskCreated()"
    (taskUpdated)="onTaskUpdated()"
  />

  <!-- Modal Detalle -->
  <task-detail-modal
    [(visible)]="showDetailModal"
    [task]="selectedTask!"
    (visibleChange)="onDetailModalClosed()"
  />
</div>
